<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <script>L_PREFER_CANVAS = false; L_NO_TOUCH = false; L_DISABLE_3D = false;</script>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.2.0/dist/leaflet.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.2.0/dist/leaflet.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css" />
    <link rel="stylesheet" href="https://rawgit.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css" />
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <style> #map_467200ebf38840039f80ca58a22fac05 {
                position : relative;
                width : 100.0%;
                height: 100.0%;
                left: 0.0%;
                top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_467200ebf38840039f80ca58a22fac05" ></div>
        
</body>
<script>    
    

            
                var bounds = null;
            

            var map_467200ebf38840039f80ca58a22fac05 = L.map(
                                  'map_467200ebf38840039f80ca58a22fac05',
                                  {center: [20,0],
                                  zoom: 2,
                                  maxBounds: bounds,
                                  layers: [],
                                  worldCopyJump: false,
                                  crs: L.CRS.EPSG3857
                                 });
            
        
    
            var tile_layer_f25d8281a0254bf4a1f46466f8dda83b = L.tileLayer(
                'https://{s}.tiles.mapbox.com/v3/mapbox.world-bright/{z}/{x}/{y}.png',
                {
  "attribution": null, 
  "detectRetina": false, 
  "maxZoom": 18, 
  "minZoom": 1, 
  "noWrap": false, 
  "subdomains": "abc"
}
                ).addTo(map_467200ebf38840039f80ca58a22fac05);
        
    

            var marker_3986df44999f455393a8b70fc75c6ce3 = L.marker(
                [31.22222,121.45806],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_467200ebf38840039f80ca58a22fac05);
            
    
            var popup_46e401930c4a48e584fcd866edd6953f = L.popup({maxWidth: '300'});

            
                var html_46a6b65260f64003b28c14073322b0e1 = $('<div id="html_46a6b65260f64003b28c14073322b0e1" style="width: 100.0%; height: 100.0%;">Shanghai,22315474</div>')[0];
                popup_46e401930c4a48e584fcd866edd6953f.setContent(html_46a6b65260f64003b28c14073322b0e1);
            

            marker_3986df44999f455393a8b70fc75c6ce3.bindPopup(popup_46e401930c4a48e584fcd866edd6953f);

            
        
    

            var marker_1f4d92feb61941bda01788a64de979e2 = L.marker(
                [-34.61315,-58.37723],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_467200ebf38840039f80ca58a22fac05);
            
    
            var popup_b4ef4a52706a4a959db69cef17cc2182 = L.popup({maxWidth: '300'});

            
                var html_aa902f9cb311450c94be46f88477d548 = $('<div id="html_aa902f9cb311450c94be46f88477d548" style="width: 100.0%; height: 100.0%;">Buenos Aires,13076300</div>')[0];
                popup_b4ef4a52706a4a959db69cef17cc2182.setContent(html_aa902f9cb311450c94be46f88477d548);
            

            marker_1f4d92feb61941bda01788a64de979e2.bindPopup(popup_b4ef4a52706a4a959db69cef17cc2182);

            
        
    

            var marker_7b6aa77255334987a7ba806e67c2c748 = L.marker(
                [19.07283,72.88261],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_467200ebf38840039f80ca58a22fac05);
            
    
            var popup_9636e63b2e144be69210bea737f9b783 = L.popup({maxWidth: '300'});

            
                var html_eb263a6ae8e843eaab98ff4f6937f1e3 = $('<div id="html_eb263a6ae8e843eaab98ff4f6937f1e3" style="width: 100.0%; height: 100.0%;">Mumbai,12691836</div>')[0];
                popup_9636e63b2e144be69210bea737f9b783.setContent(html_eb263a6ae8e843eaab98ff4f6937f1e3);
            

            marker_7b6aa77255334987a7ba806e67c2c748.bindPopup(popup_9636e63b2e144be69210bea737f9b783);

            
        
    

            var marker_9dd247205915480282fe69a2d82d961b = L.marker(
                [19.42847,-99.12766],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_467200ebf38840039f80ca58a22fac05);
            
    
            var popup_5513584b753143aca5a26ef8fecbc3c6 = L.popup({maxWidth: '300'});

            
                var html_fabee92c4e224d18ae6d6bd1e804399d = $('<div id="html_fabee92c4e224d18ae6d6bd1e804399d" style="width: 100.0%; height: 100.0%;">Mexico City,12294193</div>')[0];
                popup_5513584b753143aca5a26ef8fecbc3c6.setContent(html_fabee92c4e224d18ae6d6bd1e804399d);
            

            marker_9dd247205915480282fe69a2d82d961b.bindPopup(popup_5513584b753143aca5a26ef8fecbc3c6);

            
        
    

            var marker_7bc46748611e46d2ad49f39d3a1c4bf5 = L.marker(
                [39.9075,116.39723],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_467200ebf38840039f80ca58a22fac05);
            
    
            var popup_1ee0485abaad42ca96ef8252c1cfd252 = L.popup({maxWidth: '300'});

            
                var html_07324b88b5814134a36ae5eb1c899eb3 = $('<div id="html_07324b88b5814134a36ae5eb1c899eb3" style="width: 100.0%; height: 100.0%;">Beijing,11716620</div>')[0];
                popup_1ee0485abaad42ca96ef8252c1cfd252.setContent(html_07324b88b5814134a36ae5eb1c899eb3);
            

            marker_7bc46748611e46d2ad49f39d3a1c4bf5.bindPopup(popup_1ee0485abaad42ca96ef8252c1cfd252);

            
        
    

            var marker_8673ebf04aad42fea7a366ee62f94eda = L.marker(
                [24.9056,67.0822],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_467200ebf38840039f80ca58a22fac05);
            
    
            var popup_85cd1178e52b4770a55de59dcc5635fd = L.popup({maxWidth: '300'});

            
                var html_64fb0376303b47dd80be6a1bccaa04a0 = $('<div id="html_64fb0376303b47dd80be6a1bccaa04a0" style="width: 100.0%; height: 100.0%;">Karachi,11624219</div>')[0];
                popup_85cd1178e52b4770a55de59dcc5635fd.setContent(html_64fb0376303b47dd80be6a1bccaa04a0);
            

            marker_8673ebf04aad42fea7a366ee62f94eda.bindPopup(popup_85cd1178e52b4770a55de59dcc5635fd);

            
        
    

            var marker_69d6fccce2c141ce97625c8a8f2ff2df = L.marker(
                [41.01384,28.94966],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_467200ebf38840039f80ca58a22fac05);
            
    
            var popup_e630983671e449189373da2593538aec = L.popup({maxWidth: '300'});

            
                var html_89710556661e49b088cffcb7138546ad = $('<div id="html_89710556661e49b088cffcb7138546ad" style="width: 100.0%; height: 100.0%;">ÛÁstanbul,11174257</div>')[0];
                popup_e630983671e449189373da2593538aec.setContent(html_89710556661e49b088cffcb7138546ad);
            

            marker_69d6fccce2c141ce97625c8a8f2ff2df.bindPopup(popup_e630983671e449189373da2593538aec);

            
        
    

            var marker_93ed6eae20f5451eabb0f7a119a4483c = L.marker(
                [39.14222,117.17667],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_467200ebf38840039f80ca58a22fac05);
            
    
            var popup_557f07cd01b94abbb4929e279949fbba = L.popup({maxWidth: '300'});

            
                var html_5b1c148e101e4572878fe4541941b390 = $('<div id="html_5b1c148e101e4572878fe4541941b390" style="width: 100.0%; height: 100.0%;">Tianjin,11090314</div>')[0];
                popup_557f07cd01b94abbb4929e279949fbba.setContent(html_5b1c148e101e4572878fe4541941b390);
            

            marker_93ed6eae20f5451eabb0f7a119a4483c.bindPopup(popup_557f07cd01b94abbb4929e279949fbba);

            
        
    

            var marker_a27ce7fdf5df4f25a1ea039f3f455f58 = L.marker(
                [23.11667,113.25],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_467200ebf38840039f80ca58a22fac05);
            
    
            var popup_20dd800c9d2542db893f0aa984101bc4 = L.popup({maxWidth: '300'});

            
                var html_338f18c60f98420787011894f9bc703c = $('<div id="html_338f18c60f98420787011894f9bc703c" style="width: 100.0%; height: 100.0%;">Guangzhou,11071424</div>')[0];
                popup_20dd800c9d2542db893f0aa984101bc4.setContent(html_338f18c60f98420787011894f9bc703c);
            

            marker_a27ce7fdf5df4f25a1ea039f3f455f58.bindPopup(popup_20dd800c9d2542db893f0aa984101bc4);

            
        
    

            var marker_bfea6c105e4a4dc896601b40348c0177 = L.marker(
                [28.65381,77.22897],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_467200ebf38840039f80ca58a22fac05);
            
    
            var popup_f40a9d507f3840b2984f774b6ea6ab3c = L.popup({maxWidth: '300'});

            
                var html_105a0faab49f4f059f844eaa81630f54 = $('<div id="html_105a0faab49f4f059f844eaa81630f54" style="width: 100.0%; height: 100.0%;">Delhi,10927986</div>')[0];
                popup_f40a9d507f3840b2984f774b6ea6ab3c.setContent(html_105a0faab49f4f059f844eaa81630f54);
            

            marker_bfea6c105e4a4dc896601b40348c0177.bindPopup(popup_f40a9d507f3840b2984f774b6ea6ab3c);

            
        
</script>