<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <script>L_PREFER_CANVAS = false; L_NO_TOUCH = false; L_DISABLE_3D = false;</script>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.2.0/dist/leaflet.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.2.0/dist/leaflet.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css" />
    <link rel="stylesheet" href="https://rawgit.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css" />
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <style> #map_9cf74616dd96474ca3618b133585db2d {
                position : relative;
                width : 100.0%;
                height: 100.0%;
                left: 0.0%;
                top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_9cf74616dd96474ca3618b133585db2d" ></div>
        
</body>
<script>    
    

            
                var bounds = null;
            

            var map_9cf74616dd96474ca3618b133585db2d = L.map(
                                  'map_9cf74616dd96474ca3618b133585db2d',
                                  {center: [20,0],
                                  zoom: 2,
                                  maxBounds: bounds,
                                  layers: [],
                                  worldCopyJump: false,
                                  crs: L.CRS.EPSG3857
                                 });
            
        
    
            var tile_layer_295c289216dd412b9e17e862f9afa9b2 = L.tileLayer(
                'https://{s}.tiles.mapbox.com/v3/mapbox.world-bright/{z}/{x}/{y}.png',
                {
  "attribution": null, 
  "detectRetina": false, 
  "maxZoom": 18, 
  "minZoom": 1, 
  "noWrap": false, 
  "subdomains": "abc"
}
                ).addTo(map_9cf74616dd96474ca3618b133585db2d);
        
    

            var marker_3a7a511c17bd44ee9cef859a8b76b4c0 = L.marker(
                [50.42842,3.95001],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_9cf74616dd96474ca3618b133585db2d);
            
    
            var popup_b0904073457743e48e0652b808a8081f = L.popup({maxWidth: '300'});

            
                var html_e99ba7a40efd4b11854b08c0664cd649 = $('<div id="html_e99ba7a40efd4b11854b08c0664cd649" style="width: 100.0%; height: 100.0%;">Chasse Royale,0</div>')[0];
                popup_b0904073457743e48e0652b808a8081f.setContent(html_e99ba7a40efd4b11854b08c0664cd649);
            

            marker_3a7a511c17bd44ee9cef859a8b76b4c0.bindPopup(popup_b0904073457743e48e0652b808a8081f);

            
        
    

            var marker_a136561fbfcf4a928dd824f93e258a64 = L.marker(
                [-3.62092,-38.82913],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_9cf74616dd96474ca3618b133585db2d);
            
    
            var popup_1ccce6ec0a524e25bb71551f12b88d79 = L.popup({maxWidth: '300'});

            
                var html_df2e8405ddc8424b8c0e2ac0e7dd358b = $('<div id="html_df2e8405ddc8424b8c0e2ac0e7dd358b" style="width: 100.0%; height: 100.0%;">Cambebba,0</div>')[0];
                popup_1ccce6ec0a524e25bb71551f12b88d79.setContent(html_df2e8405ddc8424b8c0e2ac0e7dd358b);
            

            marker_a136561fbfcf4a928dd824f93e258a64.bindPopup(popup_1ccce6ec0a524e25bb71551f12b88d79);

            
        
    

            var marker_619d740e6f634a5bb1c56b95554005d7 = L.marker(
                [51.2357,14.02576],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_9cf74616dd96474ca3618b133585db2d);
            
    
            var popup_aad26f668b2e4e868dd83745c8f064f8 = L.popup({maxWidth: '300'});

            
                var html_47661cea2eb447f5a2b41f9947d86843 = $('<div id="html_47661cea2eb447f5a2b41f9947d86843" style="width: 100.0%; height: 100.0%;">Haselbachtal,0</div>')[0];
                popup_aad26f668b2e4e868dd83745c8f064f8.setContent(html_47661cea2eb447f5a2b41f9947d86843);
            

            marker_619d740e6f634a5bb1c56b95554005d7.bindPopup(popup_aad26f668b2e4e868dd83745c8f064f8);

            
        
    

            var marker_dd7ba972eee5442bb06118af66ab521a = L.marker(
                [47.7044,12.10466],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_9cf74616dd96474ca3618b133585db2d);
            
    
            var popup_019b7d78abc54d7e904b4d8d1dac53f3 = L.popup({maxWidth: '300'});

            
                var html_97c46cbb49a647d39385d152bf183351 = $('<div id="html_97c46cbb49a647d39385d152bf183351" style="width: 100.0%; height: 100.0%;">Burg Unter-Falkenstein,0</div>')[0];
                popup_019b7d78abc54d7e904b4d8d1dac53f3.setContent(html_97c46cbb49a647d39385d152bf183351);
            

            marker_dd7ba972eee5442bb06118af66ab521a.bindPopup(popup_019b7d78abc54d7e904b4d8d1dac53f3);

            
        
    

            var marker_e7f5d781725344659b0c46b8ceafea4b = L.marker(
                [6.92477,158.16109],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_9cf74616dd96474ca3618b133585db2d);
            
    
            var popup_37bcec543edb448a8c2624a86a526d95 = L.popup({maxWidth: '300'});

            
                var html_791707c2356744b8b363bc0ca410707d = $('<div id="html_791707c2356744b8b363bc0ca410707d" style="width: 100.0%; height: 100.0%;">Palikir - National Government Center,0</div>')[0];
                popup_37bcec543edb448a8c2624a86a526d95.setContent(html_791707c2356744b8b363bc0ca410707d);
            

            marker_e7f5d781725344659b0c46b8ceafea4b.bindPopup(popup_37bcec543edb448a8c2624a86a526d95);

            
        
    

            var marker_1123cae8604b4c019b6a45baf38786a7 = L.marker(
                [13.47191,144.74978],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_9cf74616dd96474ca3618b133585db2d);
            
    
            var popup_2a169a6afa68484f975699671b405e5f = L.popup({maxWidth: '300'});

            
                var html_c847583267814a3792d68c7cd9cbcb00 = $('<div id="html_c847583267814a3792d68c7cd9cbcb00" style="width: 100.0%; height: 100.0%;">Guam Government House,0</div>')[0];
                popup_2a169a6afa68484f975699671b405e5f.setContent(html_c847583267814a3792d68c7cd9cbcb00);
            

            marker_1123cae8604b4c019b6a45baf38786a7.bindPopup(popup_2a169a6afa68484f975699671b405e5f);

            
        
    

            var marker_1dfae6c1c1494610b3c80d604af64bcc = L.marker(
                [7.08931,171.3805],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_9cf74616dd96474ca3618b133585db2d);
            
    
            var popup_4bf22d79ff5343fc8d31c1a9de976fba = L.popup({maxWidth: '300'});

            
                var html_2d0a9cba54c24256b30dba1a513a0938 = $('<div id="html_2d0a9cba54c24256b30dba1a513a0938" style="width: 100.0%; height: 100.0%;">RMI Capitol,0</div>')[0];
                popup_4bf22d79ff5343fc8d31c1a9de976fba.setContent(html_2d0a9cba54c24256b30dba1a513a0938);
            

            marker_1dfae6c1c1494610b3c80d604af64bcc.bindPopup(popup_4bf22d79ff5343fc8d31c1a9de976fba);

            
        
    

            var marker_3cd79696e2db4bb889a856bc8b61554c = L.marker(
                [16.70555,-62.21292],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_9cf74616dd96474ca3618b133585db2d);
            
    
            var popup_c5cb8de8873d44728a6e4e208d36e616 = L.popup({maxWidth: '300'});

            
                var html_f36d858f82194a5da11961c2fad39f5f = $('<div id="html_f36d858f82194a5da11961c2fad39f5f" style="width: 100.0%; height: 100.0%;">Plymouth,0</div>')[0];
                popup_c5cb8de8873d44728a6e4e208d36e616.setContent(html_f36d858f82194a5da11961c2fad39f5f);
            

            marker_3cd79696e2db4bb889a856bc8b61554c.bindPopup(popup_c5cb8de8873d44728a6e4e208d36e616);

            
        
    

            var marker_109e6a60cfd7417fb2961039512d1773 = L.marker(
                [7.50043,134.62355],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_9cf74616dd96474ca3618b133585db2d);
            
    
            var popup_c00be41ad3344010bed6a6883c18319a = L.popup({maxWidth: '300'});

            
                var html_2c97030c202d442a90c1e886e770db04 = $('<div id="html_2c97030c202d442a90c1e886e770db04" style="width: 100.0%; height: 100.0%;">Melekeok,0</div>')[0];
                popup_c00be41ad3344010bed6a6883c18319a.setContent(html_2c97030c202d442a90c1e886e770db04);
            

            marker_109e6a60cfd7417fb2961039512d1773.bindPopup(popup_c00be41ad3344010bed6a6883c18319a);

            
        
    

            var marker_cc3d977c606842cd885001175b216540 = L.marker(
                [-54.28111,-36.5092],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_9cf74616dd96474ca3618b133585db2d);
            
    
            var popup_8d4cad37c82e468a99b39263e67ed8ee = L.popup({maxWidth: '300'});

            
                var html_9ac9ca0af73343e7a9ffd7fb6db698a8 = $('<div id="html_9ac9ca0af73343e7a9ffd7fb6db698a8" style="width: 100.0%; height: 100.0%;">Grytviken,2</div>')[0];
                popup_8d4cad37c82e468a99b39263e67ed8ee.setContent(html_9ac9ca0af73343e7a9ffd7fb6db698a8);
            

            marker_cc3d977c606842cd885001175b216540.bindPopup(popup_8d4cad37c82e468a99b39263e67ed8ee);

            
        
</script>